.intro-Info{
    padding-top: 0%;
}
.aboutMe{
    text-align: left;
    padding-left: 6%;
}
.intro-sec{
    font-family: system-ui;
    font-size: 1.50rem;
    padding: 6%;
    font-weight: 300;
}
.about-info{
    list-style: none;
    padding-left: 6%;
}
.about-info li{
    margin-top: 5px;
}

.info-section{
    
}
.field{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;

}
.answer{
    font-family: system-ui;
    font-size: 1.20rem;
    display: flex;
}
